* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #09daff;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.logo-side {
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-side img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.right-side {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-floating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #077386;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 20px #077386;
  width: 90%;
  max-width: 500px;
  color: #ffffff;
}

.form-floating h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}

.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
  font-size: 14px;
}

.checkbox-group input[type="checkbox"] {
  transform: scale(1.2);
  accent-color: #ffffff;
}

.form-floating button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: #077386;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-floating button:hover {
  background-color: #d1cdcd;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  color: #ffffff;
    font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo-side {
    width: 100%;
    height: 40vh;
  }

  .right-side {
    width: 100%;
    position: static;
    padding: 20px;
  }

  .form-floating {
    position: static;
    transform: none;
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
  }

  .input-row {
    flex-direction: column;
    gap: 10px;
  }
}